@import url('https://fonts.googleapis.com/css?family=Roboto');

#bodyyy {
    background-image: url("../images/body_background.jpg");
    background-size: auto;
    height: 100%;
    background-repeat: repeat-x;
    font-family: Roboto;
}

#bodyyy > .container {
	background-color: #fff;
	height: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
}

div span.glyphicon-chevron-up {
    color: green;
}

svg.d3js circle {
    fill: rgba(225, 152, 53, 1.000);
    -webkit-svg-shadow: -2px 1px 4px rgba(0, 0, 0, 0.6);
}

svg.d3js text {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 10pt;
    text-anchor: middle;
    alignment-baseline: central;
}

svg.d3js .title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32pt;
    letter-spacing: -0.05em;
    text-anchor: start;
    
}

svg.d3js div.labelDiv, svg div.labelDiv p {
    padding: 0px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-anchor: middle;
}

svg.d3js foreignObject {
    padding: 0px;
}

svg.d3js .label {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 10pt;
    font-size: 
}

svg body {
    background-color: inherit;
}

svg div.labelDiv .label {
    font-size: 40px;
}