<!DOCTYPE html>
<head>
    <title>SavvyTriton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <center><h1>Hail King Triton, Savvy ?</h1></center>
    </div>
</div>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-3 pull-right">
            <button class="btn btn-info pull-right" id="addCourse" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Course
            </button>
        </div>
    </div>
    <hr>
    <form class="form-horizontal" id="courseSelectionForm" action="/generate_recommendation" method="Post"
          name="courseSelectionForm">
        <input type="hidden" name="rowCounter" value="0" id="hiddenRowCounter">
        <div class="row">
            <div class="col-lg-3 pull-right">
                <input type="text" id="studentID" placeholder="Student ID" required="true"
                       class="form-control input-lg" name="studentID"/>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <table class="table table-responsive" id="courseTable">
                <tr>
                    <th class="col-lg-2">
                        Course ID
                    </th>
                    <th class="col-lg-2">
                        Expected Grade
                    </th>
                </tr>
                <tr class="dataRows" id="row_0">
                    <td class="col-lg-2">
                        <select class="form-control" id="courseID_0" name="courseID[0]">
                            <option value="CSE1" selected="selected">CSE 1</option>
                            <option value="CSE2" >CSE 2</option>
                            <option value="CSE3" >CSE 3</option>
                            <option value="CSE4" >CSE 4</option>
                            <option value="CSE5" >CSE 5</option>
                            <option value="CSE6" >CSE 6</option>
                            <option value="CSE7" >CSE 7</option>
                            <option value="CSE8" >CSE 8</option>
                            <option value="CSE9" >CSE 9</option>
                            <option value="CSE10" >CSE 10</option>
                            <option value="CSE11" >CSE 11</option>
                            <option value="CSE12" >CSE 12</option>
                            <option value="CSE13" >CSE 13</option>
                            <option value="CSE14" >CSE 14</option>
                            <option value="CSE15" >CSE 15</option>
                            <option value="CSE16" >CSE 16</option>
                            <option value="CSE17" >CSE 17</option>
                            <option value="CSE18" >CSE 18</option>
                            <option value="CSE19" >CSE 19</option>
                            <option value="CSE20" >CSE 20</option>
                        </select>
                    </td>
                    <td class="col-lg-2">
                        <select class="form-control" id="expectedGrade_0" name="expectedGrade[0]">
                            <option value="A+" selected="selected">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D">D</option>
                            <option value="F">F</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-3 pull-right">
            <button class="btn btn-success pull-right" id="submitForm" type="button">
                Submit Courses
            </button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>