<!DOCTYPE html>
<head>
    <title>SavvyTriton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">
    <script>
        {% autoescape false %}
        var response = JSON.parse({{result}})
        {% endautoescape  %}


    </script>
</head>
<body id="bodyyy">

<div class="container">
    <hr>
    <div class="row">
        <center><h1>Hey there, find our analysis here:</h1></center>
    </div>
    <hr>


    <table class="table table-responsive" id="analysisTable">
        <tr>
            <td class="col-lg-8">
                <div id="chart_1">
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-lg-8">
                <div id="chart_2">
                </div>
            </td>
        </tr>
    </table>
    <div id="circle">
    </div>


</div>
<script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/reco_display.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</body>
</html>